// /** Founders Grotesk **/

// @font-face {
//   font-family: "Hellix";
//   src: local("Hellix"), url("/fonts/Hellix-Light.woff2") format("woff2");
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Hellix";
//   src: local("Hellix"), url("/fonts/Hellix-Regular.woff2") format("woff2");
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Hellix";
//   src: local("Hellix"), url("/fonts/Hellix-Medium.woff2") format("woff2");
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Hellix";
//   src: local("Hellix"), url("/fonts/Hellix-SemiBold.woff2") format("woff2");
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Hellix";
//   src: local("Hellix"), url("/fonts/Hellix-Bold.woff2") format("woff2");
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Hellix";
//   src: local("Hellix"), url("/fonts/Hellix-ExtraBold.woff2") format("woff2");
//   font-weight: 800;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Hellix";
//   src: local("Hellix"), url("/fonts/Hellix-Black.woff2") format("woff2");
//   font-weight: 900;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "National 2 Compressed";
//   src: local("National 2 Compressed"),
//     url("/fonts/National2Compressed-Bold.otf") format("opentype");
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// }
