// ------------------- MAC Changes ------------------- //
.mac {
	.w300 {
		font-weight: $w300;
	}

	.w400 {
		font-weight: $w400;
	}

	.w500 {
		font-weight: $w500;
	}

	.w600 {
		font-weight: $w600;
	}

	.w700 {
		font-weight: $w700;
	}

	.w800 {
		font-weight: $w800;
	}

	.w900 {
		font-weight: $w900;
	}
}

// ------------------- WINDOWS Changes ------------------- //
.windows-os {
	.w300 {
		font-weight: $w300;
	}

	.w400 {
		font-weight: $w400;
	}

	.w500 {
		font-weight: $w500;
	}

	.w600 {
		font-weight: $w600;
	}

	.w700 {
		font-weight: $w700;
	}

	.w800 {
		font-weight: $w800;
	}

	.w900 {
		font-weight: $w900;
	}
}
