footer {
	background-color: $color-1;
	padding: 50px 0 60px;

	@media (max-width: $boot-lg) {
		padding: 30px 0 50px;
	}

	.top-row {
		margin-bottom: 50px;

		.logo {
			width: 100%;
			height: 49px;
			object-fit: contain;
			object-position: center;

			img {
				height: 100%;
				width: auto;
			}
		}

		.cta {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 24px;

			p {
				color: rgba(255, 255, 255, 0.8);
				font-family: $font-family1;
				font-size: 16px;
				font-weight: $w500;
				line-height: normal;
				letter-spacing: -0.32px;
				margin: 0;
			}
		}

		.social-links {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
			gap: 24px;

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 24px;
				height: 24px;
			}
		}

		@media (max-width: $boot-lg) {
			margin-bottom: 40px;

			.logo {
				height: 40px;

				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 16px;
			}

			.cta {
				flex-direction: column;
				gap: 24px;
				margin-bottom: 40px;
			}

			.social-links {
				justify-content: center;
			}
		}
	}

	.bottom-row {
		border-top: 1px solid rgba(255, 255, 255, 0.15);
		padding-top: 50px;

		.copyright {
			margin-bottom: 10px;

			p {
				color: #fff;
				text-align: center;
				font-family: $font-family1;
				font-size: 11.5px;
				font-weight: $w400;
				line-height: normal;
				margin: 0;
			}
		}

		.links {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;

			a {
				color: #fff;
				font-family: $font-family1;
				font-size: 11.5px;
				font-weight: $w400;
				line-height: normal;
				text-decoration: none;

				&:not(:last-child) {
					margin-right: 10px;
					padding-right: 10px;
					border-right: 1px solid rgba(255, 255, 255, 0.15);
				}
			}
		}

		@media (max-width: $boot-lg) {
			padding-top: 40px;

			.copyright {
				margin-bottom: 10px;
			}
		}
	}
}
