header {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 16px 0;

	opacity: 0.8;
	background: #f4f5f9;

	&.home {
		background: #fff;

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 100;
	}

	.logo {
		width: 100%;
		height: 80px;
		object-fit: contain;
		object-position: center;
	}
}
