/*********************************************
:: Core
   Base Elements
   eg. typography, fonts, forms, buttons etc.
********************************************/
/*
@import 'core/variables';
@import 'core/common';
@import 'core/fonts';
@import 'core/typography';
@import 'core/buttons';
@import 'core/forms';
@import 'core/os-changes';
*/
// @import "core/fonts";
// @import "core/variables";
// @import "core/typography";
// @import "core/common";
// @import "core/buttons";
// @import "core/wysiwyg";
// @import "core/forms";
// @import "core/os-changes";

/*********************************************
:: General Module
********************************************/
// @import "modules/header";
// @import "modules/footer";
// @import "modules/banner";

/*********************************************
:: Pages
********************************************/
// @import "pages/home";
// @import "pages/terms";
// @import "pages/thank-you";
@import "core/styles";
/*********************************************
:: JS Plugins
********************************************/
// @import "swiper/css";
// @import "swiper/css/navigation";
// @import "swiper/css/pagination";
